/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
::selection {
  background: #262a30;
  color: #fff;
}
body {
  position: relative;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #555;
  background: #eee;
}
@media (max-width: 991px) {
  body {
    padding-right: 0 !important;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 15px;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}
h1 {
  font-size: 22px;
}
h1 code {
  font-size: 1em;
}
@media (max-width: 767px) {
  h1 {
    font-size: 18px;
  }
  h1 code {
    font-size: 1em;
  }
}
h2 {
  font-size: 20px;
}
h2 code {
  font-size: 1em;
}
@media (max-width: 767px) {
  h2 {
    font-size: 16px;
  }
  h2 code {
    font-size: 1em;
  }
}
h3 {
  font-size: 18px;
}
h3 code {
  font-size: 1em;
}
@media (max-width: 767px) {
  h3 {
    font-size: 14px;
  }
  h3 code {
    font-size: 1em;
  }
}
h4 {
  font-size: 16px;
}
h4 code {
  font-size: 1em;
}
@media (max-width: 767px) {
  h4 {
    font-size: 12px;
  }
  h4 code {
    font-size: 1em;
  }
}
h5 {
  font-size: 14px;
}
h5 code {
  font-size: 1em;
}
@media (max-width: 767px) {
  h5 {
    font-size: 10px;
  }
  h5 code {
    font-size: 1em;
  }
}
h6 {
  font-size: 12px;
}
h6 code {
  font-size: 1em;
}
@media (max-width: 767px) {
  h6 {
    font-size: 8px;
  }
  h6 code {
    font-size: 1em;
  }
}
p {
  margin: 0 0 20px 0;
}
a,
span.exturl {
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: transparent;
  color: #555;
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid #999;
  cursor: pointer;
}
a:hover,
span.exturl:hover {
  color: #495a80;
  border-bottom-color: #495a80;
}
video {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
hr {
  margin: 40px 0;
  height: 3px;
  border: none;
  background-color: #ddd;
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
}
blockquote {
  margin: 0;
  padding: 0 15px;
  color: #666;
  border-left: 4px solid #ddd;
}
blockquote cite::before {
  content: "-";
  padding: 0 5px;
}
dt {
  font-weight: 700;
}
dd {
  margin: 0;
  padding: 0;
}
kbd {
  border: 1px solid #ccc;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  font-family: inherit;
  background-image: linear-gradient(top, #eee, #fff, #eee);
  padding: 0.1em 0.3em;
  white-space: nowrap;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pullquote {
  width: 45%;
}
.pullquote.left {
  float: left;
  margin-left: 5px;
  margin-right: 10px;
}
.pullquote.right {
  float: right;
  margin-left: 10px;
  margin-right: 5px;
}
.affix {
  position: fixed;
}
.translation {
  margin-top: -20px;
  font-size: 14px;
  color: #999;
}
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
.use-motion .motion-element {
  opacity: 0;
}
.table-container {
  margin: 20px 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.highlight .table-container {
  margin: 0px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
}
table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table > tbody > tr:hover {
  background-color: #f5f5f5;
}
caption,
th,
td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
}
th,
td {
  border: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
}
th {
  padding-bottom: 10px;
  font-weight: 700;
}
td {
  border-bottom-width: 1px;
}
html,
body {
  height: 100%;
}
.container {
  position: relative;
}
.header-inner {
  margin: 0 auto;
  padding: 100px 0 70px;
  width: calc(100% - 20px);
}
@media (min-width: 1200px) {
  .container .header-inner {
    width: 1160px;
  }
}
@media (min-width: 1600px) {
  .container .header-inner {
    width: 73%;
  }
}
.main-inner {
  margin: 0 auto;
  width: calc(100% - 20px);
}
@media (min-width: 1200px) {
  .container .main-inner {
    width: 1160px;
  }
}
@media (min-width: 1600px) {
  .container .main-inner {
    width: 73%;
  }
}
.footer {
  padding: 20px 0;
}
.footer-inner {
  box-sizing: border-box;
  margin: 0px auto;
  width: calc(100% - 20px);
}
@media (min-width: 1200px) {
  .container .footer-inner {
    width: 1160px;
  }
}
@media (min-width: 1600px) {
  .container .footer-inner {
    width: 73%;
  }
}
pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 14px;
  color: #4d4d4c;
  background: #f7f7f7;
  line-height: 1.6;
}
pre,
code {
  font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}
code {
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 2px 4px;
  color: #555;
  background: #eee;
  border-radius: 3px;
  font-size: 14px;
}
pre {
  padding: 10px;
}
pre code {
  padding: 0;
  color: #4d4d4c;
  background: none;
  text-shadow: none;
}
.highlight {
  border-radius: 1px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1em;
  color: #4d4d4c;
  line-height: 1em;
  margin-bottom: 1em;
  margin: 0em;
  padding: 0.5em;
  background: #eee;
  border-bottom: 1px solid #e9e9e9;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: " ";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
  color: #4d4d4c;
}
.highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: #869194;
  text-align: right;
  background-color: #eff2f3;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f7f7f7;
}
.highlight .line {
  height: 20px;
}
.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: #fdd;
}
pre .addition {
  background: #dfd;
}
pre .meta {
  color: #8959a8;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .name,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .symbol,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .formula {
  color: #718c00;
}
pre .title,
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
.posts-expand .post-body img.full-image {
  border: none;
}
.blockquote-center,
.page-home .post-type-quote blockquote,
.page-post-detail .post-type-quote blockquote {
  position: relative;
  margin: 40px 0;
  padding: 0;
  border-left: none;
  text-align: center;
}
.blockquote-center::before,
.page-home .post-type-quote blockquote::before,
.page-post-detail .post-type-quote blockquote::before,
.blockquote-center::after,
.page-home .post-type-quote blockquote::after,
.page-post-detail .post-type-quote blockquote::after {
  position: absolute;
  content: ' ';
  display: block;
  width: 100%;
  height: 24px;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 0 -6px;
  background-size: 22px 22px;
}
.blockquote-center::before,
.page-home .post-type-quote blockquote::before,
.page-post-detail .post-type-quote blockquote::before {
  top: -20px;
  background-image: url("../images/quote-l.svg");
  border-top: 1px solid #ccc;
}
.blockquote-center::after,
.page-home .post-type-quote blockquote::after,
.page-post-detail .post-type-quote blockquote::after {
  bottom: -20px;
  background-image: url("../images/quote-r.svg");
  border-bottom: 1px solid #ccc;
  background-position: 100% 8px;
}
.blockquote-center p,
.page-home .post-type-quote blockquote p,
.page-post-detail .post-type-quote blockquote p,
.blockquote-center div,
.page-home .post-type-quote blockquote div,
.page-post-detail .post-type-quote blockquote div {
  text-align: center;
}
.post .post-body .group-picture img {
  box-sizing: border-box;
  padding: 0 3px;
  border: none;
}
.post .group-picture-row {
  overflow: hidden;
  margin-top: 6px;
}
.post .group-picture-row:first-child {
  margin-top: 0;
}
.post .group-picture-column {
  float: left;
}
.page-post-detail .post-body .group-picture-column {
  float: none;
  margin-top: 10px;
  width: auto !important;
}
.page-post-detail .post-body .group-picture-column img {
  margin: 0 auto;
}
.page-archive .group-picture-container {
  overflow: hidden;
}
.page-archive .group-picture-row {
  float: left;
}
.page-archive .group-picture-row:first-child {
  margin-top: 6px;
}
.page-archive .group-picture-column {
  max-width: 150px;
  max-height: 150px;
}
.post-body .label {
  display: inline;
  padding: 0 2px;
}
.post-body .label.default {
  background-color: #f0f0f0;
}
.post-body .label.primary {
  background-color: #efe6f7;
}
.post-body .label.info {
  background-color: #e5f2f8;
}
.post-body .label.success {
  background-color: #e7f4e9;
}
.post-body .label.warning {
  background-color: #fcf6e1;
}
.post-body .label.danger {
  background-color: #fae8eb;
}
.post-body .note {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.post-body .note h2,
.post-body .note h3,
.post-body .note h4,
.post-body .note h5,
.post-body .note h6 {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: initial;
  padding-top: 0 !important;
}
.post-body .note p:first-child,
.post-body .note ul:first-child,
.post-body .note ol:first-child,
.post-body .note table:first-child,
.post-body .note pre:first-child,
.post-body .note blockquote:first-child {
  margin-top: 0;
}
.post-body .note p:last-child,
.post-body .note ul:last-child,
.post-body .note ol:last-child,
.post-body .note table:last-child,
.post-body .note pre:last-child,
.post-body .note blockquote:last-child {
  margin-bottom: 0;
}
.post-body .note.default {
  border-left-color: #777;
}
.post-body .note.default h2,
.post-body .note.default h3,
.post-body .note.default h4,
.post-body .note.default h5,
.post-body .note.default h6 {
  color: #777;
}
.post-body .note.primary {
  border-left-color: #6f42c1;
}
.post-body .note.primary h2,
.post-body .note.primary h3,
.post-body .note.primary h4,
.post-body .note.primary h5,
.post-body .note.primary h6 {
  color: #6f42c1;
}
.post-body .note.info {
  border-left-color: #428bca;
}
.post-body .note.info h2,
.post-body .note.info h3,
.post-body .note.info h4,
.post-body .note.info h5,
.post-body .note.info h6 {
  color: #428bca;
}
.post-body .note.success {
  border-left-color: #5cb85c;
}
.post-body .note.success h2,
.post-body .note.success h3,
.post-body .note.success h4,
.post-body .note.success h5,
.post-body .note.success h6 {
  color: #5cb85c;
}
.post-body .note.warning {
  border-left-color: #f0ad4e;
}
.post-body .note.warning h2,
.post-body .note.warning h3,
.post-body .note.warning h4,
.post-body .note.warning h5,
.post-body .note.warning h6 {
  color: #f0ad4e;
}
.post-body .note.danger {
  border-left-color: #d9534f;
}
.post-body .note.danger h2,
.post-body .note.danger h3,
.post-body .note.danger h4,
.post-body .note.danger h5,
.post-body .note.danger h6 {
  color: #d9534f;
}
.post-body .tabs {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-top: 10px;
}
.post-body .tabs ul.nav-tabs {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: -1px;
}
@media (max-width: 413px) {
  .post-body .tabs ul.nav-tabs {
    display: block;
    margin-bottom: 5px;
  }
}
.post-body .tabs ul.nav-tabs li.tab {
  list-style-type: none !important;
  margin: 0 0.25em 0 0;
  border-top: 3px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
@media (max-width: 413px) {
  .post-body .tabs ul.nav-tabs li.tab {
    margin: initial;
    border-top: 1px solid transparent;
    border-left: 3px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}
.post-body .tabs ul.nav-tabs li.tab a {
  outline: 0;
  border-bottom: initial;
  display: block;
  line-height: 1.8em;
  padding: 0.25em 0.75em;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
.post-body .tabs ul.nav-tabs li.tab a i {
  width: 1.285714285714286em;
}
.post-body .tabs ul.nav-tabs li.tab.active {
  border-top: 3px solid #f39d01;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fff;
}
@media (max-width: 413px) {
  .post-body .tabs ul.nav-tabs li.tab.active {
    border-top: 1px solid #ddd;
    border-left: 3px solid #f39d01;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}
.post-body .tabs ul.nav-tabs li.tab.active a {
  cursor: default;
  color: #555;
}
.post-body .tabs .tab-content {
  background-color: #fff;
}
.post-body .tabs .tab-content .tab-pane {
  border: 1px solid #ddd;
  padding: 20px 20px 0 20px;
}
.post-body .tabs .tab-content .tab-pane:not(.active) {
  display: none;
}
.post-body .tabs .tab-content .tab-pane.active {
  display: block;
}
.btn {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  color: #555;
  background: #fff;
  border: 2px solid #555;
  text-decoration: none;
  border-radius: 16px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  line-height: 2;
}
.btn:hover {
  border-color: #495a80;
  color: #fff;
  background: #495a80;
}
.btn +.btn {
  margin: 0 0 8px 8px;
}
.btn .fa-fw {
  width: 1.285714285714286em;
  text-align: left;
}
.btn-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #555;
  border-radius: 1px;
}
.btn-bar+.btn-bar {
  margin-top: 4px;
}
.pagination {
  margin: 120px 0 40px;
  text-align: center;
  border-top: 1px solid #eee;
}
.page-number-basic,
.pagination .prev,
.pagination .next,
.pagination .page-number,
.pagination .space {
  display: inline-block;
  position: relative;
  top: -1px;
  margin: 0 10px;
  padding: 0 11px;
}
@media (max-width: 767px) {
  .page-number-basic,
  .pagination .prev,
  .pagination .next,
  .pagination .page-number,
  .pagination .space {
    margin: 0 5px;
  }
}
.pagination .prev,
.pagination .next,
.pagination .page-number {
  border-bottom: 0;
  border-top: 1px solid #eee;
  transition-property: border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.pagination .prev:hover,
.pagination .next:hover,
.pagination .page-number:hover {
  border-top-color: #495a80;
}
.pagination .space {
  padding: 0;
  margin: 0;
}
.pagination .prev {
  margin-left: 0;
}
.pagination .next {
  margin-right: 0;
}
.pagination .page-number.current {
  color: #fff;
  background: #ccc;
  border-top-color: #ccc;
}
@media (max-width: 767px) {
  .pagination {
    border-top: none;
  }
  .pagination .prev,
  .pagination .next,
  .pagination .page-number {
    margin-bottom: 10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
  }
  .pagination .prev:hover,
  .pagination .next:hover,
  .pagination .page-number:hover {
    border-bottom-color: #495a80;
  }
}
.comments {
  margin: 60px 20px 0;
}
.back-to-top {
  box-sizing: border-box;
  position: fixed;
  bottom: -100px;
  right: 30px;
  z-index: 1050;
  padding: 0 6px;
  width: 24px;
  background: #495a80;
  font-size: 12px;
  opacity: 0.6;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition-property: bottom;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.back-to-top.back-to-top-on {
  bottom: 30px;
}
@media (max-width: 991px) {
  .back-to-top {
    opacity: 0.8;
    right: 20px;
  }
}
.header {
  background: transparent;
}
.header-inner {
  position: relative;
}
.headband {
  height: 3px;
  background: #495a80;
}
.site-meta {
  margin: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .site-meta {
    text-align: center;
  }
}
.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  background: #495a80;
  border-bottom: none;
}
.brand:hover {
  color: #fff;
}
.logo {
  display: inline-block;
  margin-right: 5px;
  line-height: 36px;
  vertical-align: top;
}
.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.site-subtitle {
  margin-top: 10px;
  font-size: 13px;
  color: #ddd;
}
.use-motion .brand {
  opacity: 0;
}
.use-motion .logo,
.use-motion .site-title,
.use-motion .site-subtitle,
.use-motion .custom-logo-image {
  opacity: 0;
  position: relative;
  top: -10px;
}
.site-nav-toggle {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}
@media (max-width: 767px) {
  .site-nav-toggle {
    display: block;
  }
}
.site-nav-toggle button {
  margin-top: 2px;
  padding: 9px 10px;
  background: transparent;
  border: none;
}
@media (max-width: 767px) {
  .site-nav {
    display: none;
    margin: 0 -10px;
    padding: 0 10px;
    clear: both;
    border-top: 1px solid #ddd;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-nav {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .site-nav {
    display: block !important;
  }
}
.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}
.menu .menu-item {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
}
@media (max-width: 767px) {
  .menu .menu-item {
    margin-top: 10px;
  }
}
.menu .menu-item a,
.menu .menu-item span.exturl {
  display: block;
  font-size: 13px;
  line-height: inherit;
  border-bottom: 1px solid transparent;
  transition-property: border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.menu .menu-item a:hover,
.menu .menu-item span.exturl:hover {
  border-bottom-color: #495a80;
}
.menu .menu-item .fa {
  margin-right: 5px;
}
.use-motion .menu-item {
  opacity: 0;
}
.github-corner :hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
.github-corner > svg {
  fill: #222;
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}
@media (max-width: 991px) {
  .github-corner > svg {
    fill: #fff;
    color: #222;
  }
  .github-corner .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
@-moz-keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
@-webkit-keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
@-o-keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
.post-body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.post-body span.exturl .fa {
  font-size: 14px;
  margin-left: 4px;
}
.post-body .fancybox img {
  display: block !important;
  margin: 0 auto;
  cursor: pointer;
  cursor: zoom-in;
}
.post-body .image-caption,
.post-body .figure .caption {
  margin: -20px auto 15px;
  text-align: center;
  font-size: 14px;
  color: #999;
  font-weight: bold;
  line-height: 1;
}
.post-sticky-flag {
  display: inline-block;
  font-size: 16px;
  transform: rotate(30deg);
}
.use-motion .post-block,
.use-motion .pagination,
.use-motion .comments {
  opacity: 0;
}
.use-motion .post-header {
  opacity: 0;
}
.use-motion .post-body {
  opacity: 0;
}
.use-motion .collection-title {
  opacity: 0;
}
.posts-expand {
  padding-top: 40px;
}
@media (max-width: 767px) {
  .posts-expand {
    margin: 0 20px;
  }
  .post-body pre .gutter pre {
    padding-right: 10px;
  }
  .post-body .highlight {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
  }
  .post-body .highlight .gutter pre {
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .posts-expand .post-body {
    text-align: justify;
  }
}
@media (max-width: 991px) {
  .posts-expand .post-body {
    text-align: justify;
  }
}
.posts-expand .post-body h2,
.posts-expand .post-body h3,
.posts-expand .post-body h4,
.posts-expand .post-body h5,
.posts-expand .post-body h6 {
  padding-top: 10px;
}
.posts-expand .post-body h2 .header-anchor,
.posts-expand .post-body h3 .header-anchor,
.posts-expand .post-body h4 .header-anchor,
.posts-expand .post-body h5 .header-anchor,
.posts-expand .post-body h6 .header-anchor {
  float: right;
  margin-left: 10px;
  color: #ccc;
  border-bottom-style: none;
  visibility: hidden;
}
.posts-expand .post-body h2 .header-anchor:hover,
.posts-expand .post-body h3 .header-anchor:hover,
.posts-expand .post-body h4 .header-anchor:hover,
.posts-expand .post-body h5 .header-anchor:hover,
.posts-expand .post-body h6 .header-anchor:hover {
  color: inherit;
}
.posts-expand .post-body h2:hover .header-anchor,
.posts-expand .post-body h3:hover .header-anchor,
.posts-expand .post-body h4:hover .header-anchor,
.posts-expand .post-body h5:hover .header-anchor,
.posts-expand .post-body h6:hover .header-anchor {
  visibility: visible;
}
.posts-expand .post-body img {
  box-sizing: border-box;
  margin: 0 auto 25px;
  padding: 3px;
  border: 1px solid #ddd;
}
@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;
  }
  .posts-collapse .post-title,
  .posts-collapse .post-meta {
    display: block;
    width: auto;
    text-align: left;
  }
}
.posts-collapse {
  position: relative;
  z-index: 1010;
  margin-left: 55px;
}
.posts-collapse::after {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #f5f5f5;
  z-index: -1;
}
@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;
  }
}
.posts-collapse .collection-title {
  position: relative;
  margin: 60px 0;
}
.posts-collapse .collection-title h1,
.posts-collapse .collection-title h2 {
  margin-left: 20px;
}
.posts-collapse .collection-title small {
  color: #bbb;
  margin-left: 5px;
}
.posts-collapse .collection-title::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #bbb;
  border-radius: 50%;
}
.posts-collapse .post {
  margin: 30px 0;
}
.posts-collapse .post-header {
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: border;
  border-bottom: 1px dashed #ccc;
}
.posts-collapse .post-header::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  margin-left: -4px;
  background: #bbb;
  border-radius: 50%;
  border: 1px solid #fff;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: background;
}
.posts-collapse .post-header:hover {
  border-bottom-color: #666;
}
.posts-collapse .post-header:hover::before {
  background: #495a80;
}
.posts-collapse .post-meta {
  position: absolute;
  font-size: 12px;
  left: 20px;
  top: 5px;
}
.posts-collapse .post-comments-count {
  display: none;
}
.posts-collapse .post-title {
  margin-left: 60px;
  font-size: 16px;
  font-weight: normal;
  line-height: inherit;
}
.posts-collapse .post-title::after {
  margin-left: 3px;
  opacity: 0.6;
}
.posts-collapse .post-title a,
.posts-collapse .post-title span.exturl {
  color: #666;
  border-bottom: none;
}
.page-home .post-type-quote .post-header,
.page-post-detail .post-type-quote .post-header,
.page-home .post-type-quote .post-tags,
.page-post-detail .post-type-quote .post-tags {
  display: none;
}
.posts-expand .post-title {
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  font-weight: 400;
}
.posts-expand .post-title-link {
  display: inline-block;
  position: relative;
  color: #555;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;
}
.posts-expand .post-title-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.posts-expand .post-title-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.posts-expand .post-title-link .fa {
  font-size: 20px;
  margin-left: 5px;
}
.posts-expand .post-meta {
  margin: 3px 0 60px 0;
  color: #999;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 12px;
  text-align: center;
}
.posts-expand .post-meta .post-category-list {
  display: inline-block;
  margin: 0;
  padding: 3px;
}
.posts-expand .post-meta .post-category-list-link {
  color: #999;
}
.posts-expand .post-meta .post-description {
  font-size: 14px;
  margin-top: 2px;
}
.posts-expand .post-meta time {
  border-bottom: 1px dashed #999;
  cursor: help;
}
.post-meta-divider {
  margin: 0 0.5em;
}
.post-meta-item-icon {
  margin-right: 3px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-meta-item-icon {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .post-meta-item-icon {
    display: inline-block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-meta-item-text {
    display: none;
  }
}
@media (max-width: 767px) {
  .post-meta-item-text {
    display: none;
  }
}
.post-button {
  margin-top: 40px;
}
.posts-expand .post-tags {
  margin-top: 40px;
  text-align: center;
}
.posts-expand .post-tags a {
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
}
.post-nav {
  display: table;
  margin-top: 15px;
  width: 100%;
  border-top: 1px solid #eee;
}
.post-nav-divider {
  display: table-cell;
  width: 10%;
}
.post-nav-item {
  display: table-cell;
  padding: 10px 0 0 0;
  width: 45%;
  vertical-align: top;
}
.post-nav-item a {
  position: relative;
  display: block;
  line-height: 25px;
  font-size: 14px;
  color: #555;
  border-bottom: none;
}
.post-nav-item a:hover {
  color: #495a80;
  border-bottom: none;
}
.post-nav-item a:active {
  top: 2px;
}
.post-nav-item .fa {
  font-size: 12px;
  margin-right: 5px;
}
.post-nav-next a {
  padding-left: 5px;
}
.post-nav-prev {
  text-align: right;
}
.post-nav-prev a {
  padding-right: 5px;
}
.post-nav-prev .fa {
  margin-left: 5px;
}
.posts-expand .post-eof {
  margin: 80px auto 60px;
  width: 8%;
  height: 1px;
  background: #ccc;
  text-align: center;
}
.post:last-child .post-eof {
  display: none;
}
.post-gallery {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}
.post-gallery-row {
  display: table-row;
}
.post-gallery .post-gallery-img {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: none;
}
.post-gallery .post-gallery-img img {
  max-width: 100%;
  max-height: 100%;
  border: none;
}
.fancybox-close,
.fancybox-close:hover {
  border: none;
}
.rtl.post-body p,
.rtl.post-body a,
.rtl.post-body h1,
.rtl.post-body h2,
.rtl.post-body h3,
.rtl.post-body h4,
.rtl.post-body h5,
.rtl.post-body h6,
.rtl.post-body li,
.rtl.post-body ul,
.rtl.post-body ol {
  direction: rtl;
  font-family: UKIJ Ekran;
}
.rtl.post-title {
  font-family: UKIJ Ekran;
}
.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: 1040;
  box-shadow: inset 0 2px 6px #000;
  background: #495a80;
}
.sidebar a,
.sidebar span.exturl {
  color: #999;
  border-bottom-color: #555;
}
.sidebar a:hover,
.sidebar span.exturl:hover {
  color: #eee;
  border-bottom-color: #eee;
}
@media (max-width: 991px) {
  .sidebar {
    display: none;
  }
}
.sidebar-inner {
  position: relative;
  padding: 20px 10px;
  color: #999;
  text-align: center;
}
.site-overview-wrap {
  overflow: hidden;
}
.site-overview {
  overflow-y: auto;
  overflow-x: hidden;
}
.cc-license {
  margin-top: 10px;
  text-align: center;
}
.cc-license .cc-opacity {
  opacity: 0.7;
  border-bottom: none;
}
.cc-license .cc-opacity:hover {
  opacity: 0.9;
}
.cc-license img {
  display: inline-block;
}
.sidebar-toggle {
  position: fixed;
  right: 30px;
  bottom: 45px;
  width: 14px;
  height: 14px;
  padding: 5px;
  background: #495a80;
  line-height: 0;
  z-index: 1050;
  cursor: pointer;
}
@media (max-width: 991px) {
  .sidebar-toggle {
    opacity: 0.8;
    right: 20px;
    display: none;
  }
}
.sidebar-toggle-line {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 2px;
  width: 100%;
  background: #fff;
  margin-top: 3px;
}
.sidebar-toggle-line:first-child {
  margin-top: 0;
}
.site-author-image {
  display: block;
  margin: 0 auto;
  padding: 2px;
  max-width: 120px;
  height: auto;
  border: 1px solid #eee;
  opacity: 1;
}
.site-author-name {
  margin: 0;
  text-align: center;
  color: #495a80;
  font-weight: 600;
}
.site-description {
  margin-top: 0;
  text-align: center;
  font-size: 13px;
  color: #999;
}
.links-of-author {
  margin-top: 20px;
}
.links-of-author a,
.links-of-author span.exturl {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom-color: #555;
  font-size: 13px;
}
.links-of-author a:before,
.links-of-author span.exturl:before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  content: " ";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #910b86;
}
.feed-link,
.chat {
  margin-top: 10px;
}
.feed-link a,
.chat a {
  display: inline-block;
  padding: 0 15px;
  color: #fc6423;
  border: 1px solid #fc6423 !important;
  border-radius: 4px;
}
.feed-link a i,
.chat a i {
  color: #fc6423;
  font-size: 14px;
}
.feed-link a:hover,
.chat a:hover {
  color: #fff;
  background: #fc6423;
}
.feed-link a:hover i,
.chat a:hover i {
  color: #fff;
}
.links-of-blogroll {
  margin-top: 10px;
  font-size: 13px;
}
.links-of-blogroll-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
}
.links-of-blogroll-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.links-of-blogroll-item {
  padding: 2px 10px;
}
.links-of-blogroll-item a,
.links-of-blogroll-item span.exturl {
  max-width: 280px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar-nav {
  margin: 0 0 20px;
  padding-left: 0;
}
.sidebar-nav li {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  color: #555;
}
.sidebar-nav li:hover {
  color: #f39d01;
}
.page-post-detail .sidebar-nav-toc {
  padding: 0 5px;
}
.page-post-detail .sidebar-nav-overview {
  margin-left: 10px;
}
.sidebar-nav .sidebar-nav-active {
  color: #f39d01;
  border-bottom-color: #f39d01;
}
.sidebar-nav .sidebar-nav-active:hover {
  color: #f39d01;
}
.sidebar-panel {
  display: none;
}
.sidebar-panel-active {
  display: block;
}
.site-state {
  display: flex;
  justify-content: center;
  overflow: hidden;
  line-height: 1.4;
  white-space: nowrap;
  text-align: center;
  margin-top: 10px;
}
.site-state-item {
  padding: 0 15px;
  border-left: 1px solid #eee;
}
.site-state-item:first-child {
  border-left: none;
}
.site-state-item a {
  border-bottom: none;
}
.site-state-item-count {
  display: block;
  text-align: center;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
}
.site-state-item-name {
  font-size: 13px;
  color: #999;
}
.post-toc-empty {
  font-size: 14px;
  color: #666;
}
.post-toc-wrap {
  overflow: hidden;
}
.post-toc {
  overflow: auto;
}
.post-toc ol {
  margin: 0;
  padding: 0 2px 5px 10px;
  text-align: left;
  list-style: none;
  font-size: 14px;
}
.post-toc ol > ol {
  padding-left: 0;
}
.post-toc ol a {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
  color: #666;
  border-bottom-color: #ccc;
}
.post-toc ol a:hover {
  color: #000;
  border-bottom-color: #000;
}
.post-toc .nav-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.8;
}
.post-toc .nav .nav-child {
  display: none;
}
.post-toc .nav .active > .nav-child {
  display: block;
}
.post-toc .nav .active-current > .nav-child {
  display: block;
}
.post-toc .nav .active-current > .nav-child > .nav-item {
  display: block;
}
.post-toc .nav .active > a {
  color: #f39d01;
  border-bottom-color: #f39d01;
}
.post-toc .nav .active-current > a {
  color: #f39d01;
}
.post-toc .nav .active-current > a:hover {
  color: #f39d01;
}
.footer {
  font-size: 14px;
  color: #999;
}
.footer img {
  border: none;
}
.footer-inner {
  text-align: center;
}
#animate {
  animation: iconAnimate 1.33s ease-in-out infinite;
}
.with-love {
  display: inline-block;
  margin: 0 5px;
  color: #ff0000;
}
.powered-by,
.theme-info {
  display: inline-block;
}
@-moz-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@-o-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
#gitment-display-button {
  display: inline-block;
  padding: 0 15px;
  color: #0a9caf;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #0a9caf;
  border-radius: 4px;
}
#gitment-display-button:hover {
  color: #fff;
  background: #0a9caf;
}
#gitment-container a {
  border-bottom: none;
}
.local-search-pop-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2080;
  background-color: rgba(0,0,0,0.3);
}
.local-search-popup {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  height: 80%;
  padding: 0;
  background: #fff;
  color: #333;
  z-index: 9999;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .local-search-popup {
    padding: 0;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
.local-search-popup ul.search-result-list {
  padding: 0;
  margin: 0 5px;
}
.local-search-popup p.search-result {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}
.local-search-popup a.search-result-title {
  font-weight: bold;
  font-size: 16px;
}
.local-search-popup .search-keyword {
  border-bottom: 1px dashed #f00;
  font-weight: bold;
  color: #f00;
}
.local-search-popup .local-search-header {
  padding: 5px;
  height: 36px;
  background: #f5f5f5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.local-search-popup #local-search-result {
  overflow: auto;
  position: relative;
  padding: 5px 25px;
  height: calc(100% - 55px);
}
.local-search-popup .local-search-input-wrapper {
  display: inline-block;
  width: calc(100% - 90px);
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
}
.local-search-popup .local-search-input-wrapper input {
  padding: 8px 0;
  height: 20px;
  display: block;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  vertical-align: middle;
}
.local-search-popup .search-icon,
.local-search-popup .popup-btn-close {
  display: inline-block;
  font-size: 18px;
  color: #999;
  height: 36px;
  width: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
.local-search-popup .search-icon {
  float: left;
}
.local-search-popup .popup-btn-close {
  border-left: 1px solid #eee;
  float: right;
  cursor: pointer;
}
.local-search-popup #no-result {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ccc;
}
.copy-btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  user-select: none;
  outline: 0;
}
.highlight-wrap .copy-btn {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 8px;
}
.highlight-wrap:hover .copy-btn,
.highlight-wrap .copy-btn:focus {
  opacity: 1;
}
.highlight-wrap {
  position: relative;
}
.page-archive .archive-page-counter {
  position: relative;
  top: 3px;
  left: 20px;
}
@media (max-width: 767px) {
  .page-archive .archive-page-counter {
    top: 5px;
  }
}
.page-archive .posts-collapse .archive-move-on {
  position: absolute;
  top: 11px;
  left: 0;
  margin-left: -6px;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  background: #555;
  border: 1px solid #fff;
  border-radius: 50%;
}
.page-archive .fa-external-link {
  font-size: 15px;
  margin-left: 5px;
}
.category-all-page .category-all-title {
  text-align: center;
}
.category-all-page .category-all {
  margin-top: 20px;
}
.category-all-page .category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.category-all-page .category-list-item {
  margin: 5px 10px;
}
.category-all-page .category-list-count {
  color: #bbb;
}
.category-all-page .category-list-count:before {
  display: inline;
  content: " (";
}
.category-all-page .category-list-count:after {
  display: inline;
  content: ") ";
}
.category-all-page .category-list-child {
  padding-left: 10px;
}
#event-list {
  padding-left: 30px;
}
#event-list hr {
  margin: 20px 0 45px 0 !important;
  background: #222;
}
#event-list hr:after {
  display: inline-block;
  content: 'NOW';
  background: #222;
  color: #fff;
  font-weight: bold;
  text-align: right;
  padding: 0 5px;
}
#event-list li.event {
  margin: 20px 0px;
  background: #f9f9f9;
  padding-left: 10px;
  min-height: 40px;
}
#event-list li.event h2.event-summary {
  margin: 0;
  padding-bottom: 3px;
}
#event-list li.event h2.event-summary:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 8px;
  content: '\f111';
  vertical-align: middle;
  margin-right: 25px;
  color: #bbb;
}
#event-list li.event span.event-relative-time {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  padding-left: 12px;
  color: #bbb;
}
#event-list li.event span.event-details {
  display: block;
  color: #bbb;
  margin-left: 56px;
  padding-top: 3px;
  padding-bottom: 6px;
  text-indent: -24px;
  line-height: 18px;
}
#event-list li.event span.event-details:before {
  text-indent: 0;
  display: inline-block;
  width: 14px;
  font-family: FontAwesome;
  text-align: center;
  margin-right: 9px;
  color: #bbb;
}
#event-list li.event span.event-details.event-location:before {
  content: '\f041';
}
#event-list li.event span.event-details.event-duration:before {
  content: '\f017';
}
#event-list li.event-past {
  background: #fcfcfc;
  padding: 15px 0 15px 10px;
}
#event-list li.event-past > * {
  opacity: 0.9;
}
#event-list li.event-past h2.event-summary {
  color: #bbb;
}
#event-list li.event-past h2.event-summary:before {
  color: #dfdfdf;
}
#event-list li.event-now {
  background: #222;
  color: #fff;
  padding: 15px 0 15px 10px;
}
#event-list li.event-now h2.event-summary:before {
  transform: scale(1.2);
  color: #fff;
  animation: dot-flash 1s alternate infinite ease-in-out;
}
#event-list li.event-now * {
  color: #fff !important;
}
#event-list li.event-future {
  background: #222;
  color: #fff;
  padding: 15px 0 15px 10px;
}
#event-list li.event-future h2.event-summary:before {
  transform: scale(1.2);
  color: #fff;
  animation: dot-flash 1s alternate infinite ease-in-out;
}
#event-list li.event-future * {
  color: #fff !important;
}
@-moz-keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
@-webkit-keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
@-o-keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
.page-post-detail .sidebar-toggle-line {
  background: #f39d01;
}
.page-post-detail .comments {
  overflow: hidden;
}
ul.breadcrumb {
  list-style: none;
  margin: 1em 0;
  padding: 0 2em;
  text-align: center;
  font-size: 12px;
}
ul.breadcrumb li {
  display: inline;
}
ul.breadcrumb li+li:before {
  padding: 0.5em;
  font-weight: normal;
  content: "/\00a0";
}
ul.breadcrumb li+li:last-child {
  font-weight: bold;
}
.tag-cloud {
  text-align: center;
}
.tag-cloud a {
  display: inline-block;
  margin: 10px;
}
.tag-cloud a:hover {
  color: #495a80 !important;
}
.header {
  position: relative;
  margin: 0 auto;
  width: calc(100% - 20px);
}
@media (min-width: 1200px) {
  .header {
    width: 1160px;
  }
}
@media (min-width: 1600px) {
  .header {
    width: 73%;
  }
}
@media (max-width: 991px) {
  .header {
    width: auto;
  }
}
.header-inner {
  position: absolute;
  top: 0;
  overflow: hidden;
  padding: 0;
  width: 240px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
  border-radius: initial;
}
@media (min-width: 1200px) {
  .container .header-inner {
    width: 240px;
  }
}
@media (max-width: 991px) {
  .header-inner {
    position: relative;
    width: auto;
    border-radius: initial;
  }
}
.main:before,
.main:after {
  content: " ";
  display: table;
}
.main:after {
  clear: both;
}
@media (max-width: 991px) {
  .container .main-inner {
    width: auto;
  }
}
.content-wrap {
  float: right;
  box-sizing: border-box;
  padding: 40px;
  width: calc(100% - 252px);
  background: #fff;
  min-height: 700px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
  border-radius: initial;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-wrap {
    width: 100%;
    padding: 20px;
    border-radius: initial;
  }
}
@media (max-width: 767px) {
  .content-wrap {
    width: 100%;
    padding: 20px;
    min-height: auto;
    border-radius: initial;
  }
}
.sidebar {
  position: static;
  float: left;
  margin-left: -100%;
  width: 240px;
  background: #eee;
  box-shadow: none;
}
@media (max-width: 991px) {
  .sidebar {
    display: none;
  }
}
.sidebar-toggle {
  display: none;
}
.footer-inner {
  padding-left: 260px;
}
@media (max-width: 991px) {
  .footer-inner {
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.sidebar-position-right .header-inner {
  right: 0;
}
.sidebar-position-right .content-wrap {
  float: left;
}
.sidebar-position-right .sidebar {
  float: right;
}
.sidebar-position-right .footer-inner {
  padding-left: 0;
  padding-right: 260px;
}
.site-brand-wrapper {
  position: relative;
}
.site-meta {
  padding: 20px 0;
  color: #fff;
  background: #495a80;
}
@media (max-width: 991px) {
  .site-meta {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
}
.brand {
  padding: 0;
  background: none;
}
.brand:hover {
  color: #fff;
}
.site-subtitle {
  margin: 10px 10px 0;
  font-weight: initial;
}
.custom-logo-image {
  margin-top: 20px;
}
@media (max-width: 991px) {
  .custom-logo-image {
    display: none;
  }
}
.site-search form {
  display: none;
}
.site-nav {
  border-top: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-nav {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-nav-on {
    display: block !important;
  }
}
.menu-item-active a,
.menu .menu-item a:hover,
.menu .menu-item span.exturl:hover {
  background: #f9f9f9;
  border-bottom-color: #fff;
}
.menu-item-active a:after,
.menu .menu-item a:hover:after,
.menu .menu-item span.exturl:hover:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 15px;
  width: 6px;
  height: 6px;
  background-color: #bbb;
  border-radius: 50%;
}
.menu .menu-item {
  display: block;
  margin: 0;
}
.menu .menu-item a,
.menu .menu-item span.exturl {
  position: relative;
  box-sizing: border-box;
  padding: 5px 20px;
  text-align: left;
  line-height: inherit;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
@media (hover: none) {
  .menu .menu-item a:hover,
  .menu .menu-item span.exturl:hover {
    background: none;
  }
}
.menu .menu-item .badge {
  display: inline-block;
  padding: 2px 5px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #ccc;
  border-radius: 10px;
  float: right;
  margin: 0.35em 0 0 0;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
}
.menu .menu-item br {
  display: none;
}
.btn-bar {
  background-color: #fff;
}
.site-nav-toggle {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-nav-toggle {
    display: block;
  }
}
.sub-menu {
  margin: 0;
  padding: 6px 0;
  background: #fff !important;
  border-bottom: 1px solid #ddd;
}
.sub-menu .menu-item {
  display: inline-block !important;
}
.sub-menu .menu-item a,
.sub-menu .menu-item span.exturl {
  padding: initial !important;
  margin: 5px 10px;
}
.sub-menu .menu-item a:hover,
.sub-menu .menu-item span.exturl:hover {
  background: initial !important;
  color: #f39d01;
}
.sub-menu .menu-item-active a {
  background: #fff !important;
  color: #f39d01;
  border-bottom-color: #f39d01;
}
.sub-menu .menu-item-active a:hover {
  background: #fff !important;
  border-bottom-color: #f39d01;
}
.sub-menu .menu-item-active a:after {
  content: initial;
}
.use-motion .sidebar .motion-element {
  opacity: 1;
}
.sidebar {
  right: auto;
  bottom: auto;
  -webkit-transform: none;
}
.sidebar a,
.sidebar span.exturl {
  color: #555;
}
.sidebar a:hover,
.sidebar span.exturl:hover {
  color: #495a80;
  border-bottom-color: #495a80;
}
.sidebar-inner {
  box-sizing: border-box;
  width: 240px;
  color: #555;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
  border-radius: initial;
  opacity: 0;
}
.sidebar-inner.affix {
  position: fixed;
  top: 12px;
}
.sidebar-inner.affix-bottom {
  position: absolute;
}
.site-overview {
  text-align: left;
}
.site-author:before,
.site-author:after {
  content: " ";
  display: table;
}
.site-author:after {
  clear: both;
}
.site-state-item {
  padding: 0 10px;
}
.feed-link,
.chat {
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  text-align: center;
}
.feed-link a,
.chat a {
  display: block;
  color: #f39d01;
  border: none !important;
}
.feed-link a:hover,
.chat a:hover {
  background: none;
  color: #c27e01;
}
.feed-link a:hover i,
.chat a:hover i {
  color: #c27e01;
}
.links-of-author {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.links-of-author span.exturl {
  font-size: 13px;
}
.links-of-author-item {
  margin: 5px 0 0;
  width: 50%;
}
.links-of-author-item a,
.links-of-author-item span.exturl {
  max-width: 216px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.links-of-author-item a:before,
.links-of-author-item span.exturl:before {
  display: none;
}
.links-of-author-item a,
.links-of-author-item span.exturl {
  border-bottom: none;
  text-decoration: underline;
}
.links-of-author-item a,
.links-of-author-item span.exturl {
  display: block;
  text-decoration: none;
}
.links-of-author-item a:hover,
.links-of-author-item span.exturl:hover {
  border-radius: 4px;
  background: #eee;
}
.links-of-author-item .fa {
  margin-right: 2px;
  font-size: 16px;
}
.links-of-author-item .fa-globe {
  font-size: 15px;
}
.links-of-blogroll {
  text-align: center;
  padding: 3px 0 0;
}
.links-of-blogroll-item {
  padding: 0;
}
.links-of-blogroll-inline:before,
.links-of-blogroll-inline:after {
  content: " ";
  display: table;
}
.links-of-blogroll-inline:after {
  clear: both;
}
.links-of-blogroll-inline .links-of-blogroll-item {
  margin: 5px 0 0;
  width: 50%;
  display: inline-block;
  width: unset;
}
.links-of-blogroll-inline .links-of-blogroll-item a,
.links-of-blogroll-inline .links-of-blogroll-item span.exturl {
  max-width: 216px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content-wrap {
  padding: initial;
  background: initial;
  box-shadow: initial;
  border-radius: initial;
}
.post-block {
  padding: 40px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
  border-radius: initial;
}
#posts > article + article .post-block {
  margin-top: 12px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
  border-radius: initial;
}
.comments {
  padding: 40px;
  margin: auto;
  margin-top: 12px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
  border-radius: initial;
}
.posts-expand {
  padding-top: initial;
}
.post-nav-divider {
  width: 4%;
}
.post-nav-item {
  width: 48%;
}
.post-eof {
  display: none;
}
.pagination {
  margin: 12px 0 0;
  border-top: initial;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
  border-radius: initial;
  padding: 10px 0 10px;
}
.pagination .prev,
.pagination .next,
.pagination .page-number {
  margin-bottom: initial;
  top: initial;
}
.main {
  padding-bottom: initial;
}
.footer {
  bottom: auto;
}
.sub-menu {
  border-bottom: initial !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
}
.sub-menu+ #content > #posts .post-block {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
  margin-top: 12px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sub-menu+ #content > #posts .post-block {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .sub-menu+ #content > #posts .post-block {
    margin-top: 8px;
  }
}
.post-header h1,
.post-header h2 {
  margin: initial;
}
.posts-expand .post-title-link {
  line-height: inherit;
}
.posts-expand .post-title {
  font-size: 1.7em;
}
.post-body h1 {
  font-size: 1.6em;
  border-bottom: 1px solid #eee;
}
.post-body h1 code {
  font-size: 1em;
}
.post-body h2 {
  font-size: 1.45em;
  border-bottom: 1px solid #eee;
}
.post-body h2 code {
  font-size: 1em;
}
.post-body h3 {
  font-size: 1.3em;
  border-bottom: 1px dotted #eee;
}
.post-body h3 code {
  font-size: 1em;
}
.post-body h4 {
  font-size: 1.2em;
}
.post-body h4 code {
  font-size: 1em;
}
.post-body h5 {
  font-size: 1.07em;
}
.post-body h5 code {
  font-size: 1em;
}
.post-body h6 {
  font-size: 1.03em;
}
.post-body h6 code {
  font-size: 1em;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-wrap {
    padding: 10px;
  }
  .posts-expand {
    margin: initial;
  }
  .posts-expand .post-button {
    margin-top: 20px;
  }
  .post-block {
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
    border-radius: initial;
  }
  #posts > article + article .post-block {
    margin-top: 10px;
  }
  .comments {
    margin-top: 10px;
    padding: 10px 20px;
  }
  .pagination {
    margin: 10px 0 0;
  }
}
@media (max-width: 767px) {
  .content-wrap {
    padding: 8px;
  }
  .posts-expand {
    margin: initial;
  }
  .posts-expand .post-button {
    margin: 12px 0px;
  }
  .posts-expand img {
    padding: initial !important;
  }
  .post-block {
    padding: 12px;
    min-height: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
    border-radius: initial;
  }
  #posts > article + article .post-block {
    margin-top: 8px;
  }
  .comments {
    margin-top: 8px;
    padding: 0 12px;
  }
  .pagination {
    margin: 8px 0 0;
  }
}
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202,203,203,0.5);
  -moz-box-shadow: 0 0 5px rgba(202,203,204,0.5);
}
.posts-expand .post-tags a {
  border-bottom: none;
}
